In [1]:
from ppl import Ppl
from espdb import ESPDBFile

In [2]:
ppl_test = Ppl(r'C:\Users\user\Desktop\pyfas\pyfas\pyfas\test.ppl')

create_df_dict is working

In [9]:
ppl_test.info

Timesteps: [0.0, 8640.281, 17280.24, 25920.21]
===
Number of timesteps: 4
===
Branches:['6A02_TO_NSK', 'NSK_4.3KM', '6A03_TO_NSK', '6A04_TO_NSK', 'NSK_4.6KM', 'NSK_TO_CPS_11KM', 'NSK_1_5.5KM']
====
Props:
{'6A02_TO_NSK': {12: 'ID', 13: 'QG', 14: 'QGST', 15: 'QLST', 16: 'QLT', 17: 'QOST', 18: 'QWST', 19: 'HOL', 20: 'PT', 21: 'Q2', 22: 'TM'},
 '6A03_TO_NSK': {30: 'ID', 31: 'QG', 32: 'QGST', 33: 'QLST', 34: 'QLT', 35: 'QOST', 36: 'QWST', 37: 'HOL', 38: 'PT', 39: 'Q2', 40: 'TM'},
 '6A04_TO_NSK': {41: 'ID', 42: 'QG', 43: 'QGST', 44: 'QLST', 45: 'QLT', 46: 'QOST', 47: 'QWST', 48: 'HOL', 49: 'PT', 50: 'Q2', 51: 'TM'},
 'NSK_1_5.5KM': {1: 'ID', 2: 'QG', 3: 'QGST', 4: 'QLST', 5: 'QLT', 6: 'QOST', 7: 'QWST', 8: 'HOL', 9: 'PT', 10: 'Q2', 11: 'TM'},
 'NSK_4.3KM': {52: 'ID', 53: 'QG', 54: 'QGST', 55: 'QLST', 56: 'QLT', 57: 'QOST', 58: 'QWST', 59: 'HOL', 60: 'PT', 61: 'Q2', 62: 'TM'},
 'NSK_4.6KM': {23: 'ID', 24: 'QG', 25: 'QLT', 26: 'HOL', 27: 'PT', 28: 'Q2', 29: 'TM'},
 'NSK_TO_CPS_11KM': {63: 'ID', 64: 'QG', 65: 'QGST', 66: 'QLST', 67: 'QLT', 68: 'QOST', 69: 'QWST', 70: 'HOL', 71: 'PT', 72: 'Q2', 73: 'TM'}}

In [10]:
ppl_test.branches

['6A02_TO_NSK', 'NSK_4.3KM', '6A03_TO_NSK', '6A04_TO_NSK', 'NSK_4.6KM', 'NSK_TO_CPS_11KM', 'NSK_1_5.5KM']

In [11]:
ppl_test.create_df('NSK_4.6KM', 'TM')

             0.000      8640.281   17280.240  25920.210
27.343737     22.66062   22.62107   22.62250   22.62244
82.031212     22.53995   22.50124   22.50249   22.50257
136.718687    22.41936   22.38086   22.38178   22.38215
191.406162    22.29936   22.26108   22.26156   22.26232
246.093650    22.17190   22.13353   22.13365   22.13453
...                ...        ...        ...        ...
4350.538125   14.11149   14.08533   14.08863   14.08751
4405.376750   14.02327   13.99705   14.00047   13.99928
4460.124250   13.91163   13.88533   13.88881   13.88756
4514.871750   13.79964   13.77308   13.77655   13.77531
4569.619250   13.68795   13.66121   13.66463   13.66343

[92 rows x 4 columns]

In [12]:
ppl_test.create_df_dict()

create_df_dict is working

In [8]:
ppl_test.data_in_df.BRANCH_6A02_TO_NSK.PT

            0.000      8640.281   17280.240  25920.210
12.509995   3321097.0  3272597.0  3270212.0  3270140.0
37.529985   3321381.0  3272876.0  3270492.0  3270419.0
62.549985   3321668.0  3273155.0  3270771.0  3270698.0
87.569995   3322296.0  3273433.0  3271051.0  3270977.0
112.738975  3307350.0  3258357.0  3256173.0  3258438.0
138.056925  3276487.0  3247772.0  3245834.0  3256164.0
154.380000  3261264.0  3247428.0  3245489.0  3255819.0
161.708200  3261682.0  3263663.0  3265932.0  3265939.0

### Тест ESPDBFile

In [ ]:
from espdb import ESPDBFile

In [ ]:

ESPDBFile.create_espdb(path='espdb_w200.txt',
                 esp_vers=1,
                 esp_label='LEMAZ',
                 esp_model='ESP5A-160',
                 freq=48.5,
                 min_rate=140,
                 max_rate=250,
             flow_rate=[0.488, 44.61, 85.89, 145.2, 168.8, 202.7, 226.3, 245.5, 290.8, 357.1],
             head_per_stage=[5.794, 5.833, 5.493, 5.225, 5.137, 4.806, 4.443, 4.092, 2.554, 0.446],
             power=[88.96, 110.4,128.9,151.8,159.5,170.7, 176.3, 176.7, 171.3,164.1])